<section class="container">
  <div class="text-center _margin-top-4">
    <a href="https://drupalmountaincamp.ch" target="_blank">
      <img width="200px" src="/themes/custom/splashawards_ch/logo-dmc.png" alt="Logo Drupal Mountain Camp">
    </a>
  </div>
</section>
<section class="container">
  <div class="text-center _margin-top-4">
    <a href="https://amazee.io" target="_blank" class="footer-link">
      <span>Hosting powered by</span>
      <img width="200px" src="/themes/custom/splashawards_ch/amazeeio.png" alt="Logo Amazee.io">
    </a>
  </div>
</section>
<section class="container">
  <div class="text-center _margin-top-4">
    <a href="https://splashawards.org" target="_blank" class="footer-link">
      <span>splashawards.org</span>
    </a>
  </div>
</section>