/**
 * Generic page element styles.
 */

h1, h2, h3, h4, h5, h6 {
  padding: 10px 0;
}

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

.page-wrapper {
  background-color: $page-wrapper-bg;
  max-width: $page-wrapper-max-width;
  margin: 0 auto;
}

.main-container.container {
  margin-bottom: 40px;
}

// Page header.
.page-header {
  margin-top: 0;
}

secion.block-webform {
  margin-bottom: 100px;
}

// Footer.
.footer {
  margin-top: 45px;
  padding-top: 35px;
  padding-bottom: 36px;
  border-top: 1px solid #E5E5E5;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

.panel-default {
  border: 0;
  > .panel-heading {
    padding: 0;
    background-color: transparent;
    border: 0;
    >  .panel-title {
      font-family: $font-family-serif;
      font-weight: bold;
      font-size: $font-size-h2;
    }
  }
  > .panel-body {
    padding: 0 0 40px 0;
    > .form-wrapper {
      margin: 40px 0;
    }
    .form-tel.form-control {
      display: block;
      width: 100%;
    }
  }
}

#block-views-block-cases-pager-block {
  padding-top: 0;
}

.entity-pager-item-prev,
.entity-pager-item-next {
  position: absolute;

  span,
  a {
    background-color: $cases-nav-background-color;
    color: $cases-nav-text-color;
    display: inline-block;
    margin: 0;
    padding: $nav-link-padding;
    text-decoration: none;
  }

  a:hover {
    background-color: $cases-nav-background-hover-color;
  }

  span {
    background-color: $cases-nav-disabled-background-color;
    color: $cases-nav-disabled-text-color;
  }
}
.entity-pager-item-prev {
  left: 0;
}
.entity-pager-item-next {
  right: 0;
}
.entity-pager-item-count {
  padding: $nav-link-padding;
}

.path-voting div.list .content > .item-list > ul {
  li {
    flex: 1 0 calc(25% - 15px);
    max-width: calc(25% - 15px);
    min-width: calc(25% - 15px);
    padding: 0;
    width: 100%;

    a {
      align-items: center;
      background-color: $cases-nav-background-color;
      color: $cases-nav-text-color;
      display: flex;
      height: 100%;
      justify-content: center;
      padding: $nav-link-padding;
      text-align: center;
      text-decoration: none;
      width: 100%;

      &:hover {
        background-color: $cases-nav-background-hover-color;
      }
    }
  }
}

div.list.nominations.site_of_year {
  .content > .item-list > ul {
    li {
      background-color: transparent;
      flex: none;
      max-width: none;
      min-width: none;
      padding: 0;
      text-align: center;
      width: 100%;

      h4 {
        font-size: 28px;
        line-height: 1em;
        padding: 10px 0 0 0;
        a {
          color: $text-color;
        }
      }
    }
  }
}

div.list.nominations .content > .item-list > ul {
  li {
    background-color: transparent;
    flex: 1 0 calc(25% - #{$container-padding});
    max-width: calc(25% - #{$container-padding});
    min-width: calc(25% - #{$container-padding});
    padding: 0;
    width: 100%;

    h4 {
      font-size: 20px;
      line-height: 1em;
      padding: 10px 0 0 0;
      a {
        color: $text-color;
      }
    }
    .case-category {
      font-style: italic;
    }

    @media #{$mobile} {
      flex: 1 0 calc(50% - #{$container-padding});
      max-width: 50%;
    }

    @media #{$mobile-portrait} {
      flex: 1 0 calc(100% - #{$container-padding});
      max-width: 100%;
    }
  }
}
